{% extends 'layout.html' %}
{% block content %}
    <div class="container" style="top: 50px; display: block; left: auto; position: relative;">
      

      <div class="jumbotron" style="top: auto;">
        <h1 class="display-3" style="text-align: center;">Todo</h1>
        
        
      <div class="container" style=""><div class="m-5" style="text-align: center;">Ask Jimbo when this will be completed!</div></div></div>

      <div class="row marketing">
        

        
      </div>

      <footer class="footer">
        
      </footer>

    </div>

{% endblock %}
