<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="/"><span class="font-weight-bold">Marine Monopolies Merch</span></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item item">
          <a class="nav-link" href="/products">Products<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item item">
          <a class="nav-link" href="/announcements">Announcements<span class="sr-only">(current)</span></a>
        </li>
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <li class="nav-item item">
            <a class="nav-link" href="/review">Review new products<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item item">
            <a class="nav-link" href="/add_product">Add a product<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item item">
            <a class="nav-link" href="/add_announcement">Add announcement<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}

      </ul>
        {% if current_user.is_authenticated %}
        <a class="nav-link" href="/logout"><span class="text-white">Logout</span></a>
        {% else %}
        <a class="nav-link" href="/login"><span class="text-white">Login</span></a>
        {% endif %}
    </div>
  </nav>
